################
# dependencies
################
# pyqt5
# PySimpleGUI
PySimpleGUIQt
PySide2  # apparently this is not auto installed in windows py3.10

################
# developer
################
wheel
pytest
coverage[toml]
flake8
